img {
  --_g: 10% /45% 45% no-repeat linear-gradient(#000 0 0);
  --m:
    left   var(--_i,0%) top    var(--_g),
    bottom var(--_i,0%) left   var(--_g),
    top    var(--_i,0%) right  var(--_g),
    right  var(--_i,0%) bottom var(--_g);
  -webkit-mask: var(--m);
          mask: var(--m);
  filter: grayscale();
  transition: .3s linear;
  cursor: pointer;
}
img:hover {
  --_i: 10%;
  filter: grayscale(0);
}

body {
  margin: 0;
  background: url("https://i.ibb.co/F3FpbJH/2.jpg") no-repeat center center fixed; background-size:100% 100%;
  display: grid;
  min-height: 100vh;
  grid-auto-flow :column;
  place-content: center;
  gap: 40px;
  margin: 0;
}

.center-outer {
display: table;
width: 100%;
height: 100%;
}

.center-inner {
display: table-cell;
vertical-align: middle;
text-align: center;
}

.blinking{
    font-family: 'Dancing Script', cursive;
    font-size: 35px;
    animation:blinkingText 0.5s infinite;
}
@keyframes blinkingText{
    0%{     color: #ffffff;    }
    49%{    color: #000; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #000;    }
}

